html {
    height: 100%;
    width: 100%;
}

body {
    justify-content: center;
    align-items: center;
    display: flex;
    height: 100%;
    background-color: #66cdaa;
}
div {
    display: flex;
}

.text {
    font-family: Roboto, PT Sans, Helvetica;
    font-size: 16px;
}

form {
    display: flex;
    flex-direction: column;
}

#container {
    max-height: 100%;
    max-width: 100%;
    background-color: rgba(255, 255, 255, .4);
    backdrop-filter: blur(5px);
    border-radius: 8px;
    padding: 20px;
    flex-direction: column;
}

#registration {
    flex-direction: column;
}

.input {
    border: 0;
    margin-bottom: 20px;
    padding: 8px;
    border-radius: 4px;
}

.submit {
    border: 0;
    padding: 8px;
    border-radius: 4px;
    background-color: #c2ffea;
}
